* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif; }

body {
  background-color: whitesmoke !important; }

.bg-oscuro {
  background-color: #00162e !important; }

.bg-claro {
  background-color: #083D77 !important; }

.bg-default {
  background-image: linear-gradient(to bottom, #00162e, #083D77); }

.bg-boton {
  background-color: whitesmoke !important; }

.seccion-default {
  padding: 4em 0 4em 0;
  border-radius: 2rem; }

.radius-default {
  border-radius: 2rem !important; }

/*************HEADER**************************/
.header__sticky {
  position: sticky;
  top: 0;
  z-index: 9999; }

/************SECCIONES HOME****************/
.seccion__contenido {
  border-radius: 2rem;
  padding: 4em 0 4em 0; }

.seccion__contenido__imagen {
  margin-top: 4em;
  height: 200px;
  border-radius: 2rem; }

/**************SECCION PROMO*****************/
.promo {
  border-radius: 2rem;
  padding: 4em 0 4em 0; }

.promo__anuncio {
  background-image: linear-gradient(to right, #083D77, white);
  border-radius: 2rem;
  animation-name: latido;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;
  margin-top: 4em; }

/*************SECCION OPINIONES*************/
.opiniones__container {
  border-radius: 2rem;
  padding: 10px; }
  .opiniones__container .opiniones__container__card {
    border-radius: 2rem;
    height: 210px;
    padding: 5px;
    margin-bottom: 20px; }
  .opiniones__container .opiniones__container__card__body {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 5px; }

/************GALERIA***************/
.galeria__img {
  height: 200px;
  border-radius: 2rem; }

/******************FOOTER*****************/
.footer {
  height: 240px; }
  .footer .footer__list {
    list-style: none;
    padding-left: 0; }
  .footer .footer__list__redes {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    padding-left: 0; }
  .footer .footer__list__links {
    color: white;
    text-decoration: none; }

.footer__text {
  font-size: x-small;
  text-align: center; }

@keyframes latido {
  0% {
    transform: scale(1.1); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0; }

#particles-js {
  height: 95vh;
  width: 100%;
  /*background-image: linear-gradient(to bottom,#083D77,white);*/
  background-image: url("prueba.jpg");
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #particles-js .particles-js__card {
    position: absolute;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%; }
  #particles-js .particles-js__card__title {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    font-style: italic; }
  #particles-js .particles-js__card__text {
    color: white;
    text-align: center; }

/**************HEADER*****************/
@media screen and (min-width: 992px) {
  .header__title {
    font-weight: 600; }
  .header__nav__list__item {
    position: relative; }
  .header__nav__list__item__link::before {
    content: '';
    display: block;
    width: 0%;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    transition: all ease-in-out 300ms; }
  .header__nav__list__item__link:hover::before {
    width: 80%; } }

/**************SECCIONES*************/
@media only screen and (min-width: 576px) {
  .carousel-md-desk {
    height: 200px; } }

@media only screen and (min-width: 768px) {
  .carousel-md-desk {
    height: 200px; } }

@media only screen and (min-width: 992px) {
  /************MODIFICADORES SECCIONES DEFAULT*************/
  .radius-default {
    border-radius: 0; }
  .seccion-default {
    border-radius: 0; }
  .seccion__contenido {
    height: 450px;
    background-image: linear-gradient(to right, #00162e, #0362c7);
    border-radius: 0;
    padding: 0; }
  .bg-reverse {
    background-image: linear-gradient(to left, #00162e, #0362c7); }
  #reverse {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 54%, 0% 0%);
    margin-left: 0; }
  .seccion__contenido__imagen {
    height: 100%;
    margin: auto 0 auto 0;
    border-radius: 0;
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); }
  /*************MODIFICADORES SECCION PROMO*****************/
  .promo {
    border-radius: 0; }
  .promo__anuncio {
    margin-top: 0; }
  /*************MODIFICADORES SECCION OPINIONES*****************/
  .opiniones__container {
    border-radius: 0; }
  /*************MODIFICADORES BANNER PARTICLES*****************/
  .particles-js__card__title {
    font-size: 4rem !important; }
  /*************MODIFICADORES CAROUSEL NOSOTROS*****************/
  .carousel-desk {
    height: 200px; }
  /*************MODIFICADORES IMAGENES*****************/
  .galeria__img {
    height: 300px; }
  .galeria__img:hover {
    transform: scale(1.1);
    transition: ease-in-out 150ms 0s; } }
