.bg-oscuro {
    background-color: #00162e!important;
}

.bg-claro {
    background-color: #083D77!important;
}

.bg-default {
    background-image: linear-gradient(to bottom,#00162e,#083D77);
}

.bg-boton {
    background-color: whitesmoke!important;
}