/**************HEADER*****************/

@media screen and (min-width: 992px) {

    .header__title {
        font-weight: 600;
    }

    .header__nav__list__item {
        position: relative;              
    }

    .header__nav__list__item__link::before {
        content: '';
        display: block;
        width: 0%;
        height: 5px;
        background-color: white;   
        position: absolute;
        top: 0; 
        transition: all ease-in-out 300ms;
    }

    .header__nav__list__item__link:hover::before {
        width: 80%;
    }
}



/**************SECCIONES*************/

@media only screen and (min-width: 576px) {

    .carousel-md-desk {
        height: 200px;
    }
}

@media only screen and (min-width: 768px) {

    .carousel-md-desk {
        height: 200px;
    }
}


@media only screen and (min-width: 992px) {

    /************MODIFICADORES SECCIONES DEFAULT*************/

    .radius-default {
        border-radius: 0;
    }

    .seccion-default {
        border-radius: 0;
    }

    .seccion__contenido {                                                                           
        height: 450px;
        background-image: linear-gradient(to right, #00162e, #0362c7);
        border-radius: 0;
        padding: 0;
    }

    .bg-reverse {
        background-image: linear-gradient(to left, #00162e, #0362c7);
    }

    #reverse {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 54%, 0% 0%);
        margin-left: 0;
    }

    .seccion__contenido__imagen {       
        height: 100%;
        margin: auto 0 auto 0;
        border-radius: 0;
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);

    }  
    
    /*************MODIFICADORES SECCION PROMO*****************/
    .promo {
        border-radius: 0;
    }

    .promo__anuncio {
        margin-top: 0;
    
    }

    /*************MODIFICADORES SECCION OPINIONES*****************/
    .opiniones__container {
        border-radius: 0;
    }

    /*************MODIFICADORES BANNER PARTICLES*****************/

    .particles-js__card__title {
        font-size: 4rem!important;
    }

    /*************MODIFICADORES CAROUSEL NOSOTROS*****************/

    .carousel-desk {
        height: 200px;
    }

    /*************MODIFICADORES IMAGENES*****************/

    .galeria__img {
        height: 300px;
    }

    .galeria__img:hover {
        transform: scale(1.1);
        transition: ease-in-out 150ms 0s;
    }
}
