$border-radius: 2rem;

.seccion-default {
    padding: 4em 0 4em 0;
    border-radius: $border-radius;
}

.radius-default {
    border-radius: $border-radius!important;
}

/*************HEADER**************************/

.header__sticky {
    position: sticky;
    top: 0;
    z-index: 9999;
}

/************SECCIONES HOME****************/
.seccion__contenido {
    border-radius: $border-radius;
    padding: 4em 0 4em 0;
}

.seccion__contenido__imagen {
    margin-top: 4em;
    height: 200px;
    border-radius: $border-radius;
}

/**************SECCION PROMO*****************/
.promo {
    border-radius: $border-radius;
    padding: 4em 0 4em 0;
}

.promo__anuncio {
    background-image: linear-gradient(to right, #083D77, white);
    border-radius: $border-radius; 
    animation-name: latido;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
    margin-top: 4em;

}

/*************SECCION OPINIONES*************/

.opiniones__container {
        border-radius: $border-radius;
        padding: 10px;

        .opiniones__container__card {
            border-radius: $border-radius;
            height: 210px;           
            padding: 5px;
            margin-bottom: 20px; 
        }
            .opiniones__container__card__body {
                color: white;
                text-align: center;
                font-style: italic;
                padding: 5px;                          
            }
}

/************GALERIA***************/

.galeria__img {
    height: 200px;
    border-radius: $border-radius;
}

/******************FOOTER*****************/
.footer {
    height: 240px;
    .footer__list {
        list-style: none;
        padding-left: 0;
    }
        .footer__list__redes {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: left;
            padding-left: 0;
        }
            .footer__list__links {
                color: white;
                text-decoration: none;
            }
            
}

.footer__text {
    font-size: x-small;
    text-align: center;
}
